*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans';
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(assets/bg-main-mobile.png);
    background-position: right top;
    background-size: cover;
    background-color: #F2F2F2;
}
.main-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    object-position: center;
    margin: 0;
    padding: 0;
}
.top-container{    
    justify-content: center;
    padding: 24px;    

}
.log-top{
    margin-top: 40px ;
    margin-bottom: 50px;
}
.h1-1{
    margin-bottom: 20px;
    width: 330px;
    font-size: 40px;
}
.p1-1{
    margin-bottom: 208px;
    width: 330px;
}
.mid-back{ 
    min-width: 375px;
    display: flex;
    padding: 0;
    align-items: center;
    height: 600px;
    max-width: 1100px;
    background-image: url(assets/bg-pattern-2.svg);
    background-position: top ;
    background-repeat: no-repeat;
    background-color: #191826;
    border-radius: 12px;
    
}
.mob-img{
    margin: auto;
    margin-top: -140px;
    width: 210px;
    height: 430px;

}
.mid-posit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
    width: 375px;
}

.mid-cont{
    
    padding: 24px;
    background-color: #FA7453;
    border-radius: 12px;
    width: 375px;
    height: 546px;
}
.h1-2{
    font-style: bold;
    font-size: 32px;
    line-height: 40px;
    color: #FCFAF9;
    margin-bottom: 32px;
}
.p1-2{
    color: #FCFAF9;
    line-height: 28px;
    font-size: 18px;
    max-width: 345px;
}
.h1-3{
    margin-top: 36px;
    margin-bottom: 32px;
    font-size: 65px;
    color: #FCFAF9;
}
span{
    font-size: 20px;
        
    
}
.btn-cont{
    display: flex;
    flex-direction: column;
    width: 296px;
    height: 61px;
    
    
}
.btn-apple{
    background-color: #191826;
    margin-bottom: 16px;
    border-radius: 12px;
    width: 296px;
    height: 61px;
    padding: 15px;
    color: #FCFAF9;
    border: 0;
    text-align: center;
}
.btn-andro{
    text-align: center;
    background-color: #FCFAF9;
    margin-bottom: 16px;
    border-radius: 12px;
    width: 296px;
    height: 61px;
    padding: 15px;
    color: #191826;
    border: 0;
}
.bot-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin-top: 64px;
    height: 350px;
}
.log-bot{
    width:  145px ;
    height: 32px;
    margin-left: -200px;
}
.p1-4{
    margin-top: 32px;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
    margin-bottom: 64px;
    width: 340px;
}
a{
    text-decoration: none;
    color: #191826;
    font-weight: 600;
    
}
.comunity{
    display: flex;
    justify-content: left;
    margin-right: 250px;
}
.inst{
    margin: 0px 20px 0px 20px;
}
@media (min-width: 768px){
    body{
        background-repeat: repeat-x;
    }
    .main-container{
        display: block;
        background-image: url(assets/bg-pattern-1.svg);
        background-repeat: no-repeat;
        background-position: right -30px top -30px;
    }
    .h1-1{
        font-size: 64px;
        width: 400px;
    }
    .p1-1{
        width: 410px;
    }
    .top-back{
        width: 696px;
        margin: auto;
    }
    .mob-img{
        margin-left: 64px;
        margin-top: -80px;
    }
    .mid-posit{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: -400px;
        
    }
    .bot-container{
        align-items: start;
        margin-top: 150px;
        height: 150px;
    }
    .log-bot{
        margin-left: 0;
    }
    .p1-4{
        min-width: 400px;
    }
    .footer1{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .comunity{
        display: flex;
        flex-direction: row;
        margin-top: 60px;
        margin-right: 0;
        height: 20px;

    }
}
@media (min-width: 1440px){
    .top-container{
        margin-left: 165px;
    }
    .h1-1{
        font-size: 88px;
        width: 800px;
    }
    .p1-1{
        width: 620px;
    }
    .top-back{
        width: 1110px;
        margin: auto;
    }
    .mid-back{
        background-position-x:250px ;
        background-position-y: -50px;
    }
    .mob-img{
        margin-left: 120px;
    }
    .mid-posit{
        width: 446px;
    }
    .bot-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .footer1{
        margin-top: 105px;
        justify-content: space-between;
    }
    .log-bot{
        margin-top: 150px;
        margin-left: 165px;
    }
    .p1-4{
       margin-left: calc(25% - 10px);
    }
    .comunity{
        margin-right: 165px;
    }
    .btn:hover{        
        background: #66E2DC;
        border-radius: 12px;
    }

    
}
